 body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
/*       margin-bottom: 30px; */
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  

/*NAV*/

  .jumbotron {
/*     background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
        background-image: url("http://i66.tinypic.com/2pr9v2f.jpg");
            

/*     background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
     -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
/*       background-color: #f4511e; */
/*     height:1000px;  */
    padding-top:0; 
    padding-bottom:0; 
    margin-bottom:0; 
    background-repeat: no-repeat; 
   background-size: contain; 
background-color:#fff; 
      color: #fff;
      
      font-family: Montserrat, sans-serif;
  }
.jumbotron h1 {
  color: #00d3c7;
  
}

.jumbotron h2 {
  color:#FFF;
  
}

.sub-headd{

}


.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;

/*      background-image: url("http://i64.tinypic.com/v2wcoh.jpg"); */
     background-image: url("http://i66.tinypic.com/2pr9v2f.jpg");
  
/*   background-image: url("http://i68.tinypic.com/1255nwk.jpg"); */
    background-repeat:no-repeat; 
    background-size:cover; 
    -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
  }

.navbar li a, .navbar .navbar-brand {
      color: #000 !important;
  }
  .navbar-nav li a:hover {
      color: #000 !important;
      background-color: #fff !important;
  }

.navbar-nav li.active a {
  color: #00d3c7!important; 
   background-color: #fff !important;
}

/*********************ABOUT SECTION**************************************/

.about-head, .clients-head, .contact-head {
  font-family: 'Lora', serif;
/* font-family: 'Dancing Script', cursive; */
  font-size:30px; 
}

  .container-fluid {
/*       padding: 60px 50px; */
  }
  .bg-grey {
background: #F2F2F2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2,); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.trans-box {
/* margin:30px; 
  padding:10px; 
  background-color: #fff; */
/*   border: 1px solid #fff; */
/*   opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
} */
.trans-box1 {
/* margin:30px;  */
  padding:10px; 
  background-color: #fff;
/*   border: 1px solid #fff; */
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.trans-box2 {
/* margin:30px;  */
  padding:10px; 
  background-color: #fff;
/*   border: 1px solid #fff; */
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/* 
.bg-black {
  background-color: #000; 
  color:#fff; 
}
 */

/**************SERVICES**********************/
.ser-p {
  padding-top:30px; 
}

.fa-quote-right, .fa-quote-left {
  font-size:15px; 
  color:#00d3c7;
}


.ser-row {
   background-image: url("http://i67.tinypic.com/2woxa36.jpg");
   background-repeat:no-repeat; 
    background-size:contain;
   -webkit-filter: grayscale(65%); /* Safari 6.0 - 9.0 */
    filter: grayscale(65%);
}

.ser-head{
  color:#fff;
  margin-top:35px; 
  font-weight:bolder; 
/*   font-family: 'Dancing Script', cursive; */
    font-family: 'Lora', serif; 
  font-size:60px; 
}
/* iframe {
  height:500px!important;
  width:500px!important; 
} */
.row {
  margin-left:0; 
  margin-right:0; 
}

.clients-head {
  margin-top: 0;  
}

.clients-img {
/*   margin-bottom:70px; 
  margin-top:40px;  */
}

  .logo-small {
/*       color: #33FFFF; */
    color:#00d3c7  ;
      font-size: 50px;
  }
  .logo {
/*       color: #33FFFF; */
    color:#00d3c7  ;
      font-size: 200px;
  }

.about-border {
  border-bottom: 2px solid #00d3c7 ; 
  margin-left:900px; 
  margin-right:900px; 
  margin-bottom:30px;
 
}


.services-border{
  border-bottom: 2px solid #00d3c7 ; 
  margin-left:900px; 
  margin-right:900px; 
  margin-bottom:30px;
    
}

.client-border {
  border-bottom: 2px solid #00d3c7 ;
  margin-left:885px;
    margin-right:885px; 
    
}


blockquote {
/*   border-left: 3px solid #00d3c7; 
  margin-left: 30px;  */
/*    border-right: 5px solid #05260E; */
}
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color:#00d3c7;
  }

.carousel-indicators {
  display:none; 
}
  .carousel-indicators li {
      border-color:#00d3c7;
  }
  .carousel-indicators li.active {
      background-color: #00d3c7;
  }

.clients {
  height:100px; 
  weight:100px; 
}
  .item h4 {
      font-size: 15px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
     
  }
  .item span {
      font-style: normal;
  }


.form-control, .form-group {
  border-top: medium none; 
  border-left: medium none; 
  border-right: medium none; 
  box-shadow:none;
opacity: 0.8; 
  
}

input, textarea {
outline: none;
box-shadow:none !important;

}
  .panel {
      border: 1px solid #05260E ; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #00d3c7 ;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
    margin-top:15px; 
/*     height:300px;  */
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }

.copy-r {
  font-size:12px; 
}

.fa-icon i {
  margin:5px; 
}

#services {
/*   padding:0;  */
}
.btn {
/*   opacity:.9;  */
/*   background-color:transparent;  */
  border:1px solid  #00d3c7; 
  color:#000; 
  font-weight:bolder; 
}

.monials {
  background-color:#000; 
}

.monials h2 {
  color:#fff; 
}
.monials h4 {
  color:#fff; 
}
  
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color:#00d3c7 ;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 250px;
    }
  }